@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #4e8a8d;
  --faded-color: #d4dfdf;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
}
