@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #4e8a8d;
  --faded-color: #d4dfdf;
  --background-color: #f4f4f4;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px 0;
  font-family: "Dosis", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ededed;
  min-height: 100vh;

  /** to prevent tilt on scroll visible */
  overflow-y: scroll;
}

body::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background: var(--faded-color);
  content: "";
}

/** Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border-radius: 10px;
  border: 1px var(--faded-color) solid;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
